// @import "../../assets/style/themes-vars.module";

.success {
    // background-color: $success50;
    padding: 6px 12px;
    border-radius: 20px;
    // color: $success400;
    text-align: center;
}
.none {
    padding: 6px 12px;
    // color: $success400;
    text-align: center;
}
.complete {
    background-color: #a3ee92;
    padding: 6px 12px;
    border-radius: 20px;
    color: #288318;
    text-align: center;
}
.close {
    background-color: rgb(191, 191, 191);
    padding: 6px 12px;
    border-radius: 20px;
    color: rgb(98, 98, 98);
    text-align: center;
}
.inprogres {
    padding: 6px 12px;
    border-radius: 20px;
    text-align: center;
    background-color: #e6f4ff;
    color: #0958d9;
}
.warning {
    background-color: #fff7e6;
    padding: 6px 12px;
    border-radius: 20px;
    color: #d46b08;
    text-align: center;
}
