body {
  font-family: iransans !important;
  direction: rtl;
}

@font-face {
  font-family: iransans;
  src: url(../public/font/IRANSansRegular/IRANSansWeb.woff) format("truetype");
}

* {
  font-family: iransans !important;
}

.muirtl-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  height: 48px;
  font-size: 14px !important;
}

/* input {
  font-size: 12px !important;
} */

.muirtl-a8il44-MuiPaper-root-MuiDrawer-paper {
  background-color: #2b2d42 !important;
}
.text-menu > span {
  color: white !important;
  font-weight: 400 !important;
}
.list-item:hover .text-menu > span {
  color: black !important;
}
/* .list-item:hover{
  background-color:#2B2D42!important;
  
} */
.muirtl-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 13px !important;
}
